@{
    ViewData["Title"] = "AdminLocationManagementRequest";
    Layout = "/Views/Shared/_LayoutForAdmin.cshtml";
}

<div class="text-center">
    <h1 class="display-4">AdminLocationManagementRequest</h1>
    <p>The page where the admin will be able to manage location and location request</p>
</div>
