@using MnsLocation5.ViewsModel
@model UserRentalCartViewModel

@{
    ViewData["Title"] = "AdminLocationValidation";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Nom d'utilisateur
            </th>
            <th>
                ID du panier
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.UserRentalCartRefId
            </td>
            <td>
                <a asp-action="UserRentalCartDetail" asp-route-id="@item.UserRentalCartRefId">Détails</a> |
            </td>
        </tr>
}
    </tbody>
</table>
