
@{
    ViewData["Title"] = "AdminHomePage";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<div class="text-center">
    <h1 class="mt-4">Administration location</h1>
</div>
<div class="d-flex justify-content-center flex-column normalLink">
    
    <a class=" d-flex bg-light justify-content-center mt-5 rounded-pill p-2 shadow">Locations en cours des utilisateurs</a>
    <a class=" d-flex bg-light justify-content-center mt-4 rounded-pill p-2 shadow">Demande de location</a>
    <a  asp-area="Admin" asp-controller="MaterialsManager" asp-action="Index" class=" d-flex bg-light justify-content-center mt-4 rounded-pill p-2 shadow">Création et gestion matériel de location</a>
    <a asp-area="Admin" asp-controller="UserManager" asp-action="Index" class=" d-flex bg-light justify-content-center mt-4 rounded-pill p-2 shadow">Création et gestion de compte</a>
    <a class=" d-flex bg-light justify-content-center mt-4 rounded-pill p-2 shadow">Statistique</a>
    
    
</div>
