@{
    ViewData["Title"] = "AdminLocationValidation";
}

<div class="text-center">
    <h1 class="display-4">AdminLocationValidation</h1>
    <p>The page where admin will be able to validate an user cart</p>
</div>
