@using MnsLocation5.ViewsModel;
@model UserRentalCartViewModel;

@{
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Matériels choisis
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>*@
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChoosenMaterials) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="Views" asp-action="LocationValidation" asp-route-model="@Model">Valider le panier</a>
