@{
    ViewData["Title"] = "UserGiveBackMaterial";
}

<div class="text-center">
    <h1 class="display-4">UserGiveBackMaterial</h1>
    <p>The page where the user will be able to notify the material condition and give back</p>
</div>
