@using Microsoft.AspNetCore.Identity
@using MnsLocation5.Data
@using MnsLocation5.Models
@using MnsLocation5.ViewsModel
@model UserRentalCartViewModel


@{
    ViewData["Title"] = "UserLocationCart";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Matériels choisis
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>*@
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChoosenMaterials) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            
            <td>
                
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
