@{
    ViewData["Title"] = "UserAccountDetail";
    Layout = "~/Views/Shared/_LayoutUserPages.cshtml";
}

<div class="text-center">
    <h1 class="display-4">UserAccountDetail</h1>
    <p>The page where user can get more detail about his account</p>
</div>
