@{
    ViewData["Title"] = "AdminValidationGiveBack";
}

<div class="text-center">
    <h1 class="display-4">AdminValidationGiveBack</h1>
    <p>The page where admin will validate condition of the returned materials</p>
</div>
