@{
    ViewData["Title"] = "AdminStockAccountManagement";
}

<div class="text-center">
    <h1 class="display-4">AdminStockAccountManagement</h1>
    <p>The page where admin can be create new account and add/delete item to the stock</p>
</div>
