@{
    ViewData["Title"] = "ConnectionPage";
    Layout = "~/Views/Shared/_LayoutConnectionPage.cshtml";
}

<div class="topband">
    <h1 class="display-4">MNS LOCATION</h1>
</div>
<div class="content">
    <div class="input">
        <input id="LoginInput" type="text" placeholder="Identifiant"/>
        <input id="PasswordInput" type="text" placeholder="Mot de passe"/>
    </div>
</div>
<div class="bottomband"></div>
