@{
    ViewData["Title"] = "MaterialInventoryList";
}

<div class="text-center">
    <h1 class="display-4">MaterialInventoryListPage</h1>
    <p>When user will click on an item list, he will be redirected on this page</p>
</div>
