@{
    ViewData["Title"] = "MaterialDetail";
}

<div class="text-center">
    <h1 class="display-4">MaterialDetail</h1>
    <p>When user will click on an item, he will be redirected on this page to get more detail about</p>
</div>
