@{
    ViewData["Title"] = "UserHomePage";
    Layout = "~/Views/Shared/_LayoutForAllPages.cshtml";
}

<div class="text-center">
    <h1 class="display-4">UserHomePage</h1>
    <p>The page redirection after user connection</p>
</div>