@{
    ViewData["Title"] = "UserHomePage";
    Layout = "~/Views/Shared/_LayoutForAllPages.cshtml";
}

<div class="text-center">
    <h1 class="mt-4">Matériels disponibles</h1>
</div>
<div class="d-flex justify-content-center flex-column">
    <button class=" d-flex justify-content-center mt-4 rounded-pill p-2 shadow">Caméra</button>
    <button class=" d-flex justify-content-center mt-4 rounded-pill p-2">Appareil photo</button>
    <button class=" d-flex justify-content-center mt-4 rounded-pill p-2">Casque VR</button>
    <button class=" d-flex justify-content-center mt-4 rounded-pill p-2">Microphone</button>
</div>