@{
    ViewData["Title"] = "UserLocationDetail";
}

<div class="text-center">
    <h1 class="display-4">UserLocationDetail</h1>
    <p>The page where the user will know the status of his location request</p>
</div>
