@{
    ViewData["Title"] = "UserLocationInformation";
}

<div class="text-center">
    <h1 class="display-4">UserLocationInformation</h1>
    <p>This page is dedicated to the user. He will able to get more informations about his different location</p>
</div>
