body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial;
    margin: 0px;
    color: black;
}

.bandeau {

    padding: 50px;
    text-align: center;
    background-color: #041937;
}
